#SidePanel {
  .expandable {
    cursor: pointer;
  }

  .expandIcon, .collapseIcon {
    transition: all 500ms ease;
    opacity: 1;
  }

  :not(.expandable) > .expander {
    display: none;
  }

  .expandable.expanded .expandIcon,
  .expandable:not(.expanded) .collapseIcon,
  {
    opacity: 0;
  }

  .expandable.expanded {
    font-weight: bold;
  }

  .expandable + .expandableContent,
  .expandable + :not(.expandableContent) > :not(.active) {
    transition: all 500ms ease, max-height 300ms ease-out,
    font-weight 0s, background-color 0s, color 0s;
    opacity: 1;
    max-height: 500px;
  }

  .expandable:not(.expanded) + .expandableContent,
  .expandable:not(.expanded) + :not(.expandableContent) > :not(.active),
  {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .expandable.collapsed + .expandableContent,
  .expandable.collapsed + :not(.expandableContent) > :not(.active) {
    display: none;
  }
}
