// Variables included through-out the site

$morphic-blue-color: #002957;
$morphic-green-color: #028004;

$primary: $morphic-blue-color;
$success: $morphic-green-color;
$primary-color: $primary;
$success-color: $success;

$link-color: #007bff; // $blue
$link-color-darker: #405e81;


