@import "variables";

// Bootstrap customisations
$theme-colors: (
  morphic-blue: $morphic-blue-color,
  morphic-green: $morphic-green-color
);

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

// Generate some invert-X button variants, where the text is the colour.
@each $color, $value in $theme-colors {
  .btn-invert-#{$color} {
    @include button-variant(color-yiq($value), $value);
    color: $value;
  }
}

.bg-silver {
  background: $gray-200;
}

.rounded {
  border-radius: 1rem;
}

button.btn.btn-link, a.btn.btn-link {
  padding: 0;
  vertical-align: baseline;
  text-align: left;
}

// General hide/show
// production-ready: .notProduction vs .onlyProduction
// mobile: .notMobile vs .onlyMobile
// focus mode: .notFocus vs .onlyFocus
body.production .notProduction, body:not(.production) .onlyProduction,
body.isMobile .notMobile, body:not(.isMobile) .onlyMobile,
body.focusMode .notFocus, body:not(.focusMode) .onlyFocus {
  display: none !important;
}


.alignRight {
  display: block !important;
  margin-left: auto !important;
  width: fit-content;
}

// Link icons
a > .b-icon:not(.noSpace):first-child {
  margin-right: 0.25em;
}

.main .text-link {
  color: $link-color;
}

body.isMobile .main {
  a, .btn-link, .text-link {
    text-decoration: underline;
    color: $link-color-darker;
  }
}

.max-height {
  height: 100%;
}

.dialogCard {
  border: none;
  .card-title {
    padding-bottom: 0.5em;
    border-bottom: #ccc 1px solid;
  }
}

@import "./expander";

